name: Block Auto-squashable Commits

on: pull_request

permissions:
  pull-requests: read

jobs:
  block-autosquash-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: xt0rted/block-autosquash-commits-action@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
